label {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	min-height: 30px;
}
fieldset {
	margin: 10px 0;
	border-color: var(--text);
	border-style: solid;
	background-color: var(--body);
}
legend {
	font-size: 1.5em;
}
.settings {
	margin: 7px;
	padding: 5px;
	border: 1px solid var(--primary);
	border-radius: 3px;
	box-shadow: 0px 0px 3px var(--primary);
}

.disabled {
	color: var(--disabled);
}