:root {
	--body: #d6d6d6;
	--body-light: white;
	--text: #000;
	--disabled: rgb(39, 39, 39);
	/* Regardless of dark/light: */
	--primary: #0073ff;
	--primary-dark: #004EAD;
}

@media (prefers-color-scheme: dark) {
	:root {
		--body: #202124;
		--body-light: #2F3137;
		--text: #fff;
		--disabled: rgb(197, 197, 197);
	}
}

body {
	background-color: var(--body-light);
	color: var(--text);
	width: 325px;
	padding: 10px;

	font-family: sans-serif;
	font-size: 0.85rem;
}

button {
	display: block;
	background-color: var(--primary-dark);
	color: var(--text);
	border: none;
	padding: 7px;
	border-radius: 3px;
}